.wrapper {
  position: absolute;
}

.main {
  position: relative;
  width: 450px;
  box-shadow: var(--blue-light-shadow) !important;
  transition: 150ms ease-in;

  &:hover {
    box-shadow: var(--grey-shadow-active) !important;
  }
}

.header {
  top: 12px;
  right: 24px;
  position: absolute;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  gap: 8px;
}

.metricItem {
  padding: 4px 12px;
  background-color: var(--grey);
  box-shadow: var(--grey-shadow);
  border-radius: 7px;

  span {
    color: white !important;
    font-size: 10px;
    white-space: nowrap;

    &:nth-child(1) {
      color: black !important;
      margin-right: 6px;
      font-weight: 500;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: -10%;
  gap: 24px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;

  box-shadow: var(--blue-light-shadow) !important;

  &:hover {
    box-shadow: var(--grey-shadow-active) !important;
  }
}
